{% extends "music/base.html" %}
{% block title %}All Songs{% endblock %}

{% block my_body %}
     <div class="row">
         <div class="panel panel-default">
                <div class="panel-body">
                    {% if error_mssge %}
                        <p><strong>{{error_mssge}}</strong></p>
                    {% endif %}

                        <h1>All Songs</h1>
                        <table class="panel-body specialCollapse">
                            <table class="table table-striped table-bordered table-hover goup">
                                <thead>
                                    <tr><th class="text-center">Logo</th><th class="text-center">Album</th><th class="text-center">Artist</th><th class="text-center">Song</th><th class="text-center">Actions</th></tr>
                                </thead>
                                <tbody>
                                        {% for album in all_albums %}
                                            {% for song in album.song_set.all %}
                                            <tr>
                                                <td><img class="img-responsive" style="width: 20px; float: left;  margin-right: 10px;"  src="{{album.album_logo.url}}" alt="Couldnot display image" ></td>
                                                <td align="center">{{album.album_title}}</td>
                                                <td align="center">{{album.artist}}</td>
                                                <td align="center">{{song.song_title}}</td>
                                                <td align="center">
                                                    <a target="_blank" href="{{ song.audio_file.url }}">
                                                        <button type="button" class="btn btn-success btn-xs">
                                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                                        </button>
                                                    </a>
                                                </td>

                                            </tr>
                                            {% endfor %}
                                        {% endfor %}

                                </tbody>
                                </table>
                         </table>
                </div>
            </div>
     </div>

{% endblock %}