{% extends "music/base.html" %}

{% block my_body %}
        {% if error_mssge %}
           <p><strong>{{error_mssge}}</strong></p>
        {% endif %}
        {% if all_albums %}
        <ul>
            {% for album in all_albums %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <img class="img-responsive" src=" {{album.album_logo.url}} " alt="Cant display image"><br>
                        <h1>{{album.album_title}}</h1>
                        <h3>{{album.artist}}</h3>

                        <div class="row">
                            <div class="col-sm-offset-2"></div>
                            <div class="col-sm-3">
                                <a href="{% url 'music:detail' album.id %}" type="button" class="btn btn-success">View Details</a>
                            </div>
                            <div class="col-sm-1">
                                <form action="{% url 'music:delete-album' album.id %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="album_id" value="{{album.id}}">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span></a>
                                    </button>
                                </form>
                            </div>
                            <div class="col-sm-1">
                                <a href="{% url 'music:fav_album' album.id %}" class="btn btn-default">
                                        {% if album.album_is_fav %}
                                            <span class="glyphicon glyphicon-star"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endif %}
                                </a>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>

        {% else %}
            <h3>You dont have any albums</h3>

        {% endif %}

{% endblock %}
