{% extends "music/base.html" %}

{% block my_body %}
        {% if error_mssge %}
           <p><strong>{{error_mssge}}</strong></p>
        {% endif %}
        {% if albums %}
        <ul>
            <h1>{{user.username}}'s Album</h1>
             <!-- If user searches and there are albums -->
            {% for album in albums %}
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <img class="img-responsive" src=" {{album.album_logo.url}} " alt="Cant display image"><br>
                        <h1>{{album.album_title}}</h1>
                        <h3>{{album.artist}}</h3>

                        <div class="row">
                            <div class="col-sm-offset-2"></div>
                            <div class="col-sm-3">
                                <a href="{% url 'music:detail' album.id %}" type="button" class="btn btn-success">View Details</a>
                            </div>
                            <div class="col-sm-1">
                                <form action="{% url 'music:delete-album' album.id %}" method="post" class="form-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="album_id" value="{{album.id}}">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span></a>
                                    </button>
                                </form>
                            </div>
                            <div class="col-sm-1">
                                <a href="{% url 'music:fav-album' album.id %}" class="btn btn-default">
                                        {% if album.album_is_fav %}
                                            <span class="glyphicon glyphicon-star"></span>
                                        {% else %}
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        {% endif %}
                                </a>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>

        {% endif %}

        <!-- If user searches and there are songs -->
    {% if songs %}
         <div class="panel panel-default">
                <div class="panel-body">
                        <table class="panel-body specialCollapse">
                            <table class="table table-striped table-bordered table-hover goup">
                                <thead>
                                    <tr><th class="text-center">Sl.No.</th><th class="text-center">Album</th><th class="text-center">Artist</th><th class="text-center">Song</th><th class="text-center">Actions</th></tr>
                                </thead>
                                <tbody>
                                        {% for song in songs %}
                                            <tr>
                                                <td align="center">{{forloop.counter}}</td>
                                                <td align="center">{{song.album.album_title}}</td>
                                                <td align="center">{{song.album.artist}}</td>
                                                <td align="center">{{song.song_title}}</td>
                                                <td align="center">None</td>
                                            </tr>

                                        {% endfor %}

                                </tbody>
                            </table>
                        </table>
                </div>
            </div>

    {% endif %}
{% endblock %}
